<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>学生考试中</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"  />
    <link rel="stylesheet" type="text/css" href="/css/aaa.css"  />

    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

</head>



<body>
<nav class="navbar navbar-default" role="navigation" style="background-color: #eff4fa">
    <div class="container-fluid">
        <img src="/images/login_icon.png" style="width:30px;float:left;margin-right:10px;margin-top:10px;"/>
        <div class="nav-header">
            <a class="navbar-brand" href="#"> welcome to 华南理工大学</a>
        </div>
        <ul class="nav navbar-nav nav-right" style="float:right;">
            <li><a href="../change_info"><span class="glyphicon glyphicon-user" th:text="'  欢迎你！' +${session.name} + ' ' +${session.permission}"></span></a></li>
            <li><a href="../logout.html"><span class="glyphicon glyphicon-log-in"></span>  退出</a></li>
        </ul>
    </div>
</nav>
<div style="margin: 0 auto;width: 900px;">
    <div style="margin-top:80px;margin-bottom:50px;">
                    <h1 id="examName"  style="color:#09679e;opacity: 0.7;"></h1>
                </div>
            <div id="mainPage" class="test_body">
                <form id="examForm">
                    <div id="choice"></div>
                    <div id="truefalse"></div>
                    <div id="sub"></div>
                    <div class="test_right">
                        <p class="time_text">剩余时间</p>
                        <p id="time_clock" class="time_clock">&nbsp;</p>
                        <input id="submit" type="submit" value="提交" />
                    </div>
                </form>

            </div>
</div>

<script>
    /* <![CDATA[*/
    var submitted = false;

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        console.log("参数自动转1");
        return(1);
    }

    /////
    var timer;
    var timeCounter = (function() {

        var total = 3600;
        console.log("hello");
        return function(elemID) {
            obj = document.getElementById("time_clock");
            var s = (total%60) < 10 ? ('0' + total%60) : total%60;
            var h = total/3600 < 10 ? ('0' + parseInt(total/3600)) : parseInt(total/3600);
            var m = (total-h*3600)/60 < 10 ? ('0' + parseInt((total-h*3600)/60)) : parseInt((total-h*3600)/60);
            obj.innerHTML = h + ' : ' + m + ' : ' + s;
            total--;
            timer = setTimeout("timeCounter('" + elemID + "')", 1000);
            if(total < 0)  {
                clearTimeout(timer);
                console.log("自动提交");
                if (submitted === false){
                    submit_paper();
                }

            }
        }
    })();


    var F_get_choice = function(id) {
        $.get("/student/student_exercise_choice_get_question?id=" + id, function (data, status) {
            var str = '<div class="background1">'+
                '<blockquote><p style="color:#09679e;"><strong>选择题</strong></p></blockquote>'+
                '<h2 class="question" style="color:#5f5f5f;">'+data.question+'</h2>' +
                '<label class="d_label"><input class="d_radio" type="radio" name="cho_' +data.id +'" value="A"/>'+
                '<span class="d_radioInput"></span>'+data.option1+'</label>'+
                '<label class="d_label"><input class="d_radio" type="radio" name="cho_' +data.id +'" value="B"/>'+
                '<span class="d_radioInput"></span>'+data.option2+'</label>'+
                '<label class="d_label"><input class="d_radio" type="radio" name="cho_' +data.id +'" value="C"/>'+
                '<span class="d_radioInput"></span>'+data.option3+'</label>'+
                '<label class="d_label"><input class="d_radio" type="radio" name="cho_' +data.id +'" value="D"/>'+
                '<span class="d_radioInput"></span>'+data.option4+'</label></div>';
            $("#choice").append(str);
        });
    };

    var F_get_truefalse = function(id) {
        $.get("/student/student_exercise_truefalse_get_question?id=" + id, function (data, status) {
            var str = '<div class="background1">'+
                '<blockquote><p style="color:#09679e;"><strong>判断题</strong></p></blockquote>'+
                '<h2 class="question" style="color:#5f5f5f;">'+data.question+'</h2>' +
                '<label class="d_label"><input class="d_radio" type="radio" name="tf_' +data.id +'" value="T"/>'+
                '<span class="d_radioInput"></span>True</label>'+
                '<label class="d_label"><input class="d_radio" type="radio" name="tf_' +data.id +'" value="T"/>'+
                '<span class="d_radioInput"></span>False</label></div>';
            $("#truefalse").append(str);
        });
    };

    var F_get_sub = function(id) {
        $.get("/student/student_exercise_sub_get_question?id=" + id, function (data, status) {
            var str = '<div class="background1">'+
                '<blockquote><p style="color:#09679e;"><strong>主观题</strong></p></blockquote>'+
                '<h2 class="question" style="color:#5f5f5f;">'+data.question+'</h2>' +
                '<textarea name="sub_' +data.id +'" class="textareaStyle" placeholder="这里写内容"></textarea></div>';
            $("#sub").append(str);
        });
    };

    var choiids;
    var judgids;
    var subids;
    var canDo = true;

    function disable_submit() {
        $("#submit").attr('disabled',"true");
        $("#submit").css({'background-color':'gray'});
        $("#submit").val("禁止提交");
    }
    
    $(document).ready(function() {
        var pid = getQueryVariable("pid");
        $.get("/student/paper_tested?pid=" + pid,function (data, status) {
            if (data === true){
                disable_submit();
                canDo = false;
                alert("你已提交试卷！\n现在你只能查看试卷，无法提交！")
            }

        });
        $.get("/student/student_test_get_paper?id=" + pid,function (data, status) {
            console.log(data);
            $('#examName').text(data.name);
            var curTime = new Date();
            var beginTime = new Date(data.begintime);
            var finishTime = new Date(data.finishtime);

            if (canDo === true && (curTime < beginTime || curTime >  finishTime)) {
                disable_submit();
                canDo = false;
                alert("不在考试时间范围内！")
            }else{
                if (canDo === true){
                    timeCounter('timeCounter');
                }
                choiids = data.choi.split(',');
                judgids = data.judg.split(',');
                subids = data.sub.split(',');

                for (i in choiids){
                    F_get_choice(choiids[i]);
                }
                for (i in judgids){
                    F_get_truefalse(judgids[i]);
                }
                for (i in subids){
                    F_get_sub(subids[i]);
                }
            }
        });
    });

    //ajax提交form表单的方式
    function submit_paper() {

        if (event != undefined){
            event.preventDefault();
        }
        var pid = getQueryVariable("pid");
        var AjaxURL= "/student/student_test_submit";
        var d = {};
        var t = $('form').serializeArray();
        $.each(t, function() {
            d[this.name] = this.value;
        });
        console.log(t);
        console.log(d);
        var dd = Object.getOwnPropertyNames(d).length;
        console.log(dd);
        var will_submit = true;

        if(dd<choiids.length+judgids.length+subids.length){
            if(confirm("还有题目没有完成！真的要交卷吗?")){
                will_submit = true;
            }
            else{
                will_submit = false;
            }
        }
        if (will_submit){
            $.ajax({
                type: "POST",
                url: AjaxURL,
                data:  "ans="+JSON.stringify(d)+"&pid="+pid,
                success: function (data) {
                    submitted = true;
                    clearTimeout(timer);
                    alert(data);
                    $("#submit").attr('disabled',"true");
                    $("#submit").css({'background-color':'gray'});
                    $("#submit").val("已提交");

                },
                error: function(data) {
                    alert("提交失败！\n请检查网络！请重试！");
                }
            });
        }
    }

    $('#examForm').submit(submit_paper);
    /*]]>*/
</script>

</body>
</html>