<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>数据库在线系统</title>
    <link href="/css/bbb.css" type="text/css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"  />
    <link rel="stylesheet" type="text/css" href="/css/aaa.css"  />
    <link rel="stylesheet" type="text/css" href="/css/ccc.css"  />
</head>

<body>
<nav class="navbar navbar-default" role="navigation" style="background-color: #eff4fa">
    <div class="container-fluid">
        <img src="/images/login_icon.png" style="width:30px;float:left;margin-right:10px;margin-top:10px;"/>
        <div class="nav-header">
            <a class="navbar-brand" href="#"> welcome to 华南理工大学</a>
        </div>
        <ul class="nav navbar-nav nav-right" style="float:right;">
            <li><a href="../change_info"><span class="glyphicon glyphicon-user" th:text="'  欢迎你！' +${session.name} + ' ' +${session.permission}"></span></a></li>
            <li><a href="../logout.html"><span class="glyphicon glyphicon-log-in"></span>  退出</a></li>
        </ul>
    </div>
</nav>

    <div style="margin: 0 auto;width: 900px;">
                    <div style="margin-top:80px;margin-bottom:50px;">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="studentpage.html">首页</a></li>
                            <li><a href="student_test.html">在线考试</a></li>
                            <li><a href="student_grade.html">成绩查询</a></li>
                            <li><a href="student_exercise.html">随机练习</a></li>
                            <li><a href="student_evaluating_list_select.html">SQL练习</a></li>
                            <li><a href="student_status.html">状态查询</a></li>
                            <li><a href="student_info.html">个人信息</a></li>
                        </ul>
                    </div>

                <div id="student_content" class="background1">
                    <blockquote><p style="color:#09679e;"><strong>功能介绍</strong></p></blockquote>
                    <h2 style="color:#166999;">欢迎来参加数据库考试</h2>
                    <p style="color:#09679e;"><strong>学生功能</strong></p>
                    <p style="color:#087ec2;">1.在线考试：选择时限内的考试并作答</p>
                    <p style="color:#087ec2;">2.成绩查询：查询考试的成绩</p>
                    <p style="color:#087ec2;">3.考题提交状态查询：查询考试中提交的答案判题状态</p>
                    <p style="color:#087ec2;">4.在线练习：进行数据库在线练习</p>
                    <p style="color:#087ec2;">5.练习提交状态查询：查询在线练习中提交答案的判题状态</p>
                    <p style="color:#09679e;"><strong>教师功能</strong></p>
                    <p style="color:#087ec2;">1.添加考试：开展一次新的考试</p>
                    <p style="color:#087ec2;">2.考题管理：管理考试题目</p>
                    <p style="color:#087ec2;">3.题库管理：管理基本题库</p>
                </div>
                <div style="margin-bottom:70px;"></div>
    </div>

<div class="footer">
    Website by @ACJ @WTY @ICY @ZYR @DUCK @ZAL
</div>
</body>

</html>