<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>批改试卷中</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"  />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"  />
    <link rel="stylesheet" type="text/css" href="/css/aaa.css"  />

    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

</head>



<body>
<nav class="navbar navbar-default" role="navigation" style="background-color: #eff4fa">
    <div class="container-fluid">
        <img src="/images/login_icon.png" style="width:30px;float:left;margin-right:10px;margin-top:10px;"/>
        <div class="nav-header">
            <a class="navbar-brand" href="#"> welcome to 华南理工大学</a>
        </div>
        <ul class="nav navbar-nav nav-right" style="float:right;">
            <li><a href="../change_info"><span class="glyphicon glyphicon-user" th:text="'  欢迎你！' +${session.name} + ' ' +${session.permission}"></span></a></li>
            <li><a href="../logout.html"><span class="glyphicon glyphicon-log-in"></span>  退出</a></li>
        </ul>
    </div>
</nav>
<div style="margin: 0 auto;width: 900px;">
    <div style="margin-top:80px;margin-bottom:50px;">
                    <h1 id="examName"  style="color:#09679e;opacity: 0.7;"></h1>
                </div>
            <div id="mainPage" class="test_body">
                <form id="examForm">
                    <div id="choice"></div>
                    <div id="truefalse"></div>
                    <div id="sub"></div>
                    <div class="test_right">
                        <p class="time_text">当前时间</p>
                        <p id="time_clock" class="time_clock">&nbsp;</p>
                        <input id="submit" type="submit" value="返回" />
                    </div>
                </form>

            </div>
</div>

<script>
    /* <![CDATA[*/

    function myTimer()
    {
        var d=new Date();
        var t=d.toLocaleTimeString();
        document.getElementById("time_clock").innerHTML=t;
    }
    setInterval(myTimer,200);


    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        console.log("参数自动转1");
        return(1);
    }
    var F_get_choice = function(id) {
        $.get("/teacher/choice_get_questionByAns?id=" + id, function (data, status) {
            var str = '<div class="background1">'+
                '<blockquote><p style="color:#09679e;"><strong>选择题</strong></p></blockquote>'+
                '<h2 class="question" style="color:#5f5f5f;">'+data.question+'</h2>' +
                '<label class="d_label"><input disabled="true" class="d_radio" type="radio" name="cho_' +data.id +'" value="A"/>'+
                '<span class="d_radioInput"></span>'+data.option1+'</label>'+
                '<label class="d_label"><input disabled="true" class="d_radio" type="radio" name="cho_' +data.id +'" value="B"/>'+
                '<span class="d_radioInput"></span>'+data.option2+'</label>'+
                '<label class="d_label"><input disabled="true" class="d_radio" type="radio" name="cho_' +data.id +'" value="C"/>'+
                '<span class="d_radioInput"></span>'+data.option3+'</label>'+
                '<label class="d_label"><input disabled="true" class="d_radio" type="radio" name="cho_' +data.id +'" value="D"/>'+
                '<span class="d_radioInput"></span>'+data.option4+'</label>' +
                '<label >参考答案：'+data.rightanswer +'</label></div>';
            $("#choice").append(str);
        });
    };

    var F_get_truefalse = function(id) {
        $.get("/teacher/truefalse_get_questionByAns?id=" + id, function (data, status) {
            console.log(data);
            var str = '<div class="background1">'+
                '<blockquote><p style="color:#09679e;"><strong>判断题</strong></p></blockquote>'+
                '<h2 class="question" style="color:#5f5f5f;">'+data.question+'</h2>' +
                '<label class="d_label"><input disabled="true" class="d_radio" type="radio" name="tf_' +data.id +'" value="T"/>'+
                '<span class="d_radioInput"></span>True</label>'+
                '<label class="d_label"><input disabled="true" class="d_radio" type="radio" name="tf_' +data.id +'" value="T"/>'+
                '<span class="d_radioInput"></span>False</label>' +
                '<label >参考答案：'+data.rightanswer +'</label></div>';
            $("#truefalse").append(str);
        });
    };
    var F_get_sub = function(id) {
        $.get("/teacher/sub_get_questionByAns?id=" + id, function (data, status) {
            var str = '<div class="background1">'+
                '<blockquote><p style="color:#09679e;"><strong>主观题</strong></p></blockquote>'+
                '<h2 class="question" style="color:#5f5f5f;">'+data.question+'</h2>' +
                '<label>参考答案：</label>'+
                '<textarea disabled="true" class="textareaStyle" >'+data['refanswer']+'</textarea></div>';
            $("#sub").append(str);
        });
    };
    var record;
    var choiids;
    var judgids;
    var subids;
    $(document).ready(function() {
        var pid = getQueryVariable("pid");
        $.get("/teacher/teacher_see_paper?pid=" + pid,function (data, status) {
            console.log(data);
            $('#examName').text(data.name);

            choiids = data.choi.split(',');
            judgids = data.judg.split(',');
            subids = data.sub.split(',');
            for (i in choiids){
                F_get_choice(choiids[i]);
            }
            for (i in judgids){
                F_get_truefalse(judgids[i]);
            }
            for (i in subids){
                F_get_sub(subids[i]);
            }
        });
    });
//
//
    $('#examForm').submit(function () {
        window.history.back(-1);
    });
    /*]]>*/
</script>

</body>
</html>