
body {
    background-color: #cfdbe9;
    background-image:url("images/backgroung_scut.png");
    background-repeat:no-repeat;
}

.logout{
    float:right;
    top:0;
    height:34px;
    margin:-90px;
    margin:10px;
    color: white;
}

.lan{
	background-color: #e0e7f7;
	border-radius: 10px;
}

.background1{
    border-radius: 15px;
    border: 1px solid #eeeeee;
    background-color: #b0cce6;
    padding: 20px;
}

.biaogekuang{
	background-color: #ecf0fb;
}

.biaogekuang2{
	background-color: #cfdbe9;
}




