<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="examination.dao.AdminDao">
    <select id="findByLogin" resultType="Admin">
        SELECT * from admin where account=#{account} and password=#{password}
    </select>

    <update id="updateInfo">
        UPDATE  `admin` SET `name`=#{name},`password`=#{pw} where `id` =#{id}
    </update>
</mapper>