<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="examination.dao.StudentDao">
    <select id="findByLogin" resultType="Student">
        SELECT * from student where account=#{account} and password=#{password}
    </select>

    <insert id="add">
        INSERT INTO student(account,name,sex,password,classid)
        VALUE(#{account},#{name},#{sex},'123456',#{classid});
    </insert>

    <select id="findById" resultType="Student">
        SELECT * from student where id=#{id}
    </select>

    <update id="update">
        UPDATE student set account=#{account},name=#{name},sex=#{sex}
        ,password=#{password},classid=#{classid} WHERE id=#{id}
    </update>

    <insert id="addByList">
        INSERT INTO student(account,name,sex,password,classid)
        VALUE
        <foreach collection="list" item="student" separator=",">
            (#{student.account},#{student.name},#{student.sex},"123456",#{student.classid})
        </foreach>
    </insert>

    <select id="queryAll" resultType="Student">
        select  * from student
    </select>
    
    <delete id="delete">
        DELETE from student WHERE id=#{id}
    </delete>

    <delete id="deleteByList">
        DELETE from student WHERE id in
        <foreach item="id" collection="list" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

</mapper>